<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <title>All players</title>
</head>

<body>
    <div class="container">
    <h1 class="text-center bg-info pt-5 pb-5 mb-5">Tous les joueurs</h1>
    <div>
    <a href="/players/form" type="button" class="btn btn-primary"> <i class="bi bi-database-fill-add me-2"></i> Ajouter un joueur</a>
    <a href="/games" type="button" class="btn btn-primary"> <i class="bi bi-joystick me-2"></i>Voir tous les jeux</a>
    <a href="/contests" type="button" class="btn btn-primary"> <i class="bi bi-dice-1 me-2"></i>Voir toutes les compétitions</a>
    </div>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Email</th>
                    <th scope="col">update</th>
                </tr>
            </thead>
            {{#each players}}
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="/players/{{this.id}}"><i class="bi bi-file-earmark-fill text-info"></i></a>
                        <a href="/players/{{this.id}}/supprimer"><i class="bi bi-trash-fill text-danger"></i></a>
                    </th>
                    <td>{{this.nickname}}</td>
                    <td>{{this.email}}</td>
                    <td><a href="/players/{{this.id}}/form"><i class="bi bi-arrow-clockwise"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</body>

</html>