<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <title>Fiche Joueur</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center bg-info pt-5 pb-5 mb-5">Fiche Joueur</h1>
        <ul class="list-group">
            <li class="list-group-item d-flex">
                <div class="col">Identifiant</div>
                <div class="col">{{player.id}}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="col">Pseudo</div>
                <div class="col">{{player.nickname}}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="col">E-mail</div>
                <div class="col">{{player.email}}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="col">Participations</div>
                {{#each player.contests}}
                <div class="col">Le joueur a participé au jeu: <strong>{{this.game.title}}</strong></div>
                {{/each}}
            </li>
            <li class="list-group-item d-flex">
                <div class="col">Victoires</div>
                <div class="col">
                    <div class="col">Le joueur a gagné <strong>{{player.winners.length}}</strong> jeux.</div>
                </div>
            </li>
        </ul>
    </div>
</body>

</html>