<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <title>Fiche Joueur</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center bg-info pt-5 pb-5 mb-5">Fiche jeux</h1>
        <ul class="list-group">
            <li class="list-group-item d-flex">
                <div class="col">Identifiant</div>
                <div class="col">{{game.id}}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="col">Titre du jeux</div>
                <div class="col">{{game.title}}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="col">Nombre minimum de joueur</div>
                <div class="col">{{game.minPlayers}}</div>
            </li>
            <li class="list-group-item d-flex">
                <div class="col">Nombre maximum de joueur</div>
                <div class="col">{{game.maxPlayers}}</div>
            </li>
        </ul>
        <div class="d-flex mt-3">
        <form action="/games/{{game.id}}/supprimer" method="post">
            <button type="submit" class="btn btn-danger me-5">Supprimer</button>
        </form>
        <a href="/games" class="btn btn-info text-white">Revenir à l'accueil</a></div>
    </div>
</body>

</html>