<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
        integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
    <title>All players</title>
</head>

<body>
    <div class="container">
        <h1 class="text-center bg-info pt-5 pb-5 mb-5">Tous les jeux</h1>
        <div>
        <a href="/games/form" type="button" class="btn btn-primary"> <i class="bi bi-database-fill-add me-2"></i>
            Ajouter</a>
        <a href="/players" type="button" class="btn btn-primary"> <i class="bi bi-people-fill me-2"></i>
            Revenir à la page des joueurs</a>    
        </div>
        <table class="table table-striped table-hover ">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Identifiant</th>
                    <th scope="col">jeux</th>
                    <th scope="col">minPlayers</th>
                    <th scope="col">MaxPlayers</th>
                </tr>
            </thead>
            {{#each games}}
            <tbody>
                <tr>
                    <th scope="row">
                        <a href="/games/{{this.id}}"><i class="bi bi-file-earmark-fill text-info"></i></a>
                        <form action="/games/{{this.id}}/supprimer" method="post" class="d-inline" onsubmit="confirmer();">
                            <button type="submit" class="border-0"><i class="bi bi-trash-fill text-danger"></i></button>
                        </form>
                        {{!-- <a type="submit" href="/games/{{this.id}}/supprimer"><i class="bi bi-trash-fill text-danger"></i></a> --}}
                    </th>
                    <td>{{this.id}}</td>
                    <td>{{this.title}}</td>
                    <td>{{this.minPlayers}}</td>
                    <td>{{this.maxPlayers}}</td>
                    <td><a href="/games/{{this.id}}/form"><i class="bi bi-arrow-clockwise"></i></a></td>
                </tr>
            </tbody>
            {{/each}}
        </table>
    </div>
</body>

</html>