<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Forms</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css" integrity="sha384-b6lVK+yci+bfDmaY1u0zE8YYJt0TZxLEAFyYSLHId4xoVvsrQu3INevFKo+Xir8e" crossorigin="anonymous">    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script>
</head>

<body class="container">
    <h1 class="alert alert-primary text-center">Formulaire</h1>
{{!-- {{contest.id ? '/contests/{id}/modifier' : '/contests/add'}} "/contests/{{contest.id}}/modifier"--}}
    <form  method="post" action="{{#if contest.id}} modifier  {{else}} add {{/if}}">
        <div class="form-group">
            <label for="startDate">startDate</label>
            <input type="text" name="startDate" value="{{contest.startDate}}" id="startDate" class="form-control">
        </div>
        <div class="form-group">
            <label for="game">Game</label>
            <input type="text" name="game" value="{{contest.game.title}}" id="game" class="form-control">
        </div>
        <div class="form-group">
            <label for="winner">winner</label>
            <input type="text" name="winner" value="{{contest.winner.nickname}}" id="winner" class="form-control">
        </div>
        <div class="form-group">
            <label for="players">players</label>
            {{!-- <input type="text" name="players" value="{{contest.players}}" id="players" class="form-control"> --}}
            <input type="text" name="players" value="" id="players" class="form-control">
        </div>

        <div class="d-flex mt-3 justify-content-between">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-save"></i> {{#if contest.id}} Modifier {{else}} Créer {{/if}}
            </button>
            <button type="reset" class="btn btn-warning">
                <i class="fa fa-eraser"></i> Effacer
            </button>
            <a href="/contests" class="btn btn-danger">
                <i class="fa fa-reply"></i> Retour
            </a>
        </div>
    </form>

</body>

</html>    